.table>tbody>tr.current-row{background-color:#DEB887;}
.table tr:hover{background-color:#c9d8c5 !important;}
a{cursor: pointer;}
body{min-height: 1000px;}
.leftpanel{
    box-shadow: 1px 1px 10px #ccc;
    width: 150px;
    height: 95vh;
    /* border: solid 1px red; */
    position: fixed;
    z-index: 5000;
    top: 50px;
    left: 0px;
}

.leftwrap{
    position: relative;width: 100%;height: 100%;background: white;
}
.downbtn{
    left: 50%;
    margin-left: -54px;
    position: absolute;
    top: 50%;
    margin-top: -39px;
}
@media screen and (max-width: 991px) {
    .leftpanel{
        /*background-color:yellow;*/
        position: relative;
        top: 50px;
        width: 100%;
        height: 45px;
    }
    .downbtn{
        margin-top: -18px;    
    }
}
.loadinglayer{
    top:0;left:0;background:#555;position:fixed;width:100%;height:100%;font-size:50px;color:white;opacity:0.6;transition:all 0.5s ease-out;z-index: 9999;
}
.loadinglayer .wrap{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
}
.loadinglayer .wrap .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -110px;
}
.textright{
    text-align: right;
}
.textcenter{
    text-align: center;
}